# Python virtual environment
.venv/

# OS / IDEs
.DS_Store
.vscode/*
!.vscode/*.example

# Byte-compiled / caches
__pycache__/
*.py[cod]
.*_cache/

# Packaging
*.egg-info/
build/
dist/

# sqlite
*.db
*.db-*
